.app_violet_theme {
  --bg-color: #5e69ee;
  --inverted-bg-color: #a19611;
  --primary-color: #39afea;
  --secondary-color: #f4f4fb;
  --inverted-primary-color: #c65015;
  --inverted-secondary-color: #0b0b04;

  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgb(0 0 0 / 20%);

  // code
  --code-bg: #fff;
}
